
/* Font face *//* Font face *//* Font face *//* Font face *//* Font face */

@font-face {
	font-family: 'Euclid Flex';
	src:  url('../fonts/@font-face/7ca06963c2e0a99b0a44cad7b4f84ba6.woff2') format('woff2'),
	      url('../fonts/@font-face/7ca06963c2e0a99b0a44cad7b4f84ba6.woff') format('woff');
		  
}

/* Body *//* Body *//* Body *//* Body *//* Body *//* Body *//* Body *//* Body */
body {
	font-family: 'Euclid Flex','Merriweather Sans', sans-serif;
	overflow-x: hidden;
}	

.color-btns {
	order: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(5px);
	font-weight: 600px;
	opacity: 0.8;
	color: rgb(41, 41, 41);
	text-transform: uppercase;
	border-radius: 9px;
	background: linear-gradient(#f8f8f8, #ffffff 40%, #f5f5f5 3%, #b9b9b9);
	top: 91vh;
	
}

#my-button {
	position: absolute;
	z-index: 160;
	left: 5vw;
	padding: 3px;
	width: 178px;
	color: rgb(53, 53, 53);
}

#my-button-2 {
	position: absolute;
	z-index: 160;
	left: 5vw;
	padding: 3px;
	width: 178px;
}

#slide1 {
	background: url('../img/Plac_Unii/[ACC]\ PL\ UNII\ WIDOK\ NA\ POŁUDNIE\ HIGH\ RES\(1\).png') center center no-repeat;
	background-size: cover;
    background-attachment: fixed; /* Ty moze byc ukryty blad z iPadem */
	min-height: 100vh;
	display: fixed;
	position: absolute;
	width: 100vw;
	top: 0;
	z-index: -10;
	
	
}
#slide1-color {
	background: url('../img/Plac_Unii/[ACC]\ PL\ UNII\ WIDOK\ NA\ POŁUDNIE\ HIGH\ RES.png') center center no-repeat;
	background-size: cover;
    background-attachment: fixed; /* Ty moze byc ukryty blad z iPadem */
	min-height: 100vh;
	display: fixed;
	opacity: 0;
	
}
#slide1b {
	background: url('../img/Plac_Unii/PL UNII KOLOR.png') center center no-repeat;
	background-size: cover;
    background-attachment: fixed; /* Ty moze byc ukryty blad z iPadem */
	min-height: 100vh;
	display: fixed;
}
#slide1c {
	background: url('../img/Plac_Unii/[ACC] PL UNII HIGH RES NATURAL BW.png') center center no-repeat;
	background-size: cover;
    background-attachment: fixed; /* Ty moze byc ukryty blad z iPadem */
	min-height: 100vh;
	display: fixed;
}

#slide2 {
	background: url('../img/Chocimska.jpg') center center no-repeat;
	background-size: cover;
    background-attachment: fixed;
	min-height: 100vh;
	min-width: 100%;
	position: absolute;
}

#slide2b {
	background: url('../img/Plac_Unii/PL\ UNII\ KOLOR.png') center center no-repeat;
	background-size: cover;
    background-attachment: fixed;
	min-height: 100vh;
}
#slide3 {
	background: url('../img/Morskie\ Oko/[ACC]Morskie Oko koloryzacja.png')  no-repeat;
	background-size: cover;
    background-attachment: fixed;
	min-height: 100vh;
}

#slide4 {
	background: url('../img/plac_unii_lata_30.jpg') center center no-repeat;
	background-size: cover;
    background-attachment: fixed; /* Ty moze byc ukryty blad z iPadem */
	min-height: 100vh;
}
#slide5 {
	background: url('') center center no-repeat;
	background-size: cover;
    background-attachment: fixed;
	min-height: 100vh;
}
#slide6 {
	background: url('../img/Konduktorska/[ACC]\ KONDUKTORSKA\ KOLOR.png') center center no-repeat;
	background-size: cover;
    background-attachment: fixed;
	min-height: 100vh;
}

#slide7 {
	background: url('../img/Dolna/[ACC]\ DOLNA\(1\).png') center center no-repeat;
	background-size: cover;
    background-attachment: fixed; /* Ty moze byc ukryty blad z iPadem */
	min-height: 100vh;

}
#slide8 {
	background: url('../img/Warszawianka/[ACC]\ WARSZAWIANKA\ KOLOR.png') center center no-repeat;
	background-size: cover;
    background-attachment: fixed;
	min-height: 100vh;

}
#slide9 {
	background: url('') center center no-repeat;
	background-size: cover;
    background-attachment: fixed;
	min-height: 100vh;

}

#slide10 {
	background: url('../img/Królikarnia/[ACC]\ Królikarnia\ kolor.png') center center no-repeat;
	background-size: cover;
    background-attachment: fixed; /* Ty moze byc ukryty blad z iPadem */
	min-height: 100vh;

}
#slide11 {
	background: url('../img/skocznia\ 3.png') center -100px no-repeat;
	background-size: cover;
    background-attachment: fixed;
	min-height: 100vh;
}
#slide11b {
	background: url('../img/skocznia\ 2.jpg') center -100px no-repeat;
	background-size: cover;
    background-attachment: fixed;
	min-height: 100vh;
	display: none;
}
#slide11c {
	background: url('../img/Skocznia\ 1.jpg') center -100px no-repeat;
	background-size: cover;
    background-attachment: fixed;
	min-height: 100vh;
	display: none;
}


.text {
    text-align: center;
    width: 40%;
    margin: auto;
	padding-top: 24px;
	font-family: 'Euclid Flex', sans-serif;
	display: none;
}
.text-inner {
    font-size: 18px;
    color: rgb(56, 56, 56);
}
.text-desc {
    font-size: 14px;
    color: rgb(56, 56, 56);

}

.navigation {
	position: fixed;
	z-index: 1;
	background-color: rgb(255, 255, 255, 0.75); /* 0.35 */
	height: 100%;
	right: 0;
	text-align: left;
	box-sizing: border-box;
}
.navigation ul {
	top: 36%;
	position: relative;
}
#navigation-background {
	background-color: rgb(255, 255, 255, 0.35);
	height: 100%;
	width: 100%;
	display: block;
	z-index: 2;
}

.navigation li{
	color:rgb(0, 0, 0);
	display:block;
	padding: 0 10px;
	line-height: 18px;
	font-weight: 500;
	text-align:left;
	width: 274
	px;
	cursor:pointer;
	transition: all .2s ease-in-out;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Euclid Flex', sans-serif;
}

.navigation li.active {
	
    font-weight: 600;
}
.navigation li.active-one {
	/* color: #006579; */
    font-weight: 600;
}
.navigation li:hover{
	color: rgba(72, 72, 72, 0.52);
	
}
#logo {
	display: flex;
	justify-self: center;
}
#logo img {
	padding: 2em 0 0 0;
	width: 60%;
	margin: auto;
}
@media (max-width: 1100px) {

	.navigation li{
		font-size: 12px;
	}
  }

@media (max-width: 800px) {
	
	.navigation li{
		font-size: 10px;
	}
  }
  /* Arrows and dots */
  #arrows-and-dots {
	  display: flex;
	  justify-content: center;
	  position: absolute;
	  bottom: -18px;
	  width: 100vw;
	  background-color: rgba(227, 227, 227, 0.42);
      padding: 3em;
  }



  

  #arrows-and-dots-11 {
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 7vh;
	height: 0;
}

  .fa-angle-left {
	  height: 16px;
	  padding-right: 10vw;
  }
  .fa-angle-right {
	  height: 16px;
	  padding-left: 10vw;
  }
/*
  .dot-container {
	display: flex;
	justify-content: center;
	left: 39%;
	top: 93.75%;
	position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
	
  }
*/
  .dot {
	  display: inline-block;
	  width: 9px;
	  height: 9px;
	  border-radius: 25px;
	  border: 1px solid rgb(82, 82, 82);
	  margin: 2px;
  }

  .dot.active {
	background-color: rgb(255, 255, 255, 0.60);
  }

  .outer-wrapper:hover {
	background-color: rgb(255, 255, 255, 0.60);
  }

  .phone-warning {
	display: none;
	width: 280px;
	margin: auto;
	height: 100vh;
	position: relative;
	top: 50vh;
  }
/*
@media (max-width: 720px) {
	#main {
		display: none;
	}
	.phone-warning {
		display: block;
	}

}*/

.badge {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
	/*transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	z-index: 200;*/
}

/* Przycisk Lokalizacja link */
#btn-bttm-2 {
	
}
   .badge-pill {
	position: absolute;
	bottom: 28px;
	left: 24%;
	padding-right: 0.6em;
	padding-left: 0.6em;
	border-radius: 10rem;
	z-index: 200;
  }

  .badge-secondary {
	background-color: rgba(255, 255, 255, 0.42);
	border: 1px solid rgb(58, 58, 58);
	z-index: 200;
  }

  .badge a {
	text-decoration: none;
	color: rgb(68, 68, 68);
  }
  /* #bottom-menu {
	  height: 20em;
	  background-color:orange;
	  position: relative;
	  bottom: -120px;
	  height: 120px;
  } */

  /* .dot {
	display: inline-block;
	width: 9px;
	height: 9px;
	border-radius: 25px;
	border: 1px solid rgb(82, 82, 82);
	margin: 2px;
}

.dot.active {
  background-color: rgb(255, 255, 255, 0.60);
} */
